@font-face {
  font-family: "Circular-Pro-Book";
  src: url("../fonts/lineto-circular-pro-book.eot");
  src: url("../fonts/lineto-circular-pro-book.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-circular-pro-book.woff") format("woff"), url("../fonts/lineto-circular-pro-book.ttf") format("truetype"), url("../fonts/lineto-`circular-pro-book.svg#lineto-circular-pro-book") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circular-Pro-Book-Italic";
  src: url("../fonts/lineto-circular-pro-bookItalic.eot");
  src: url("../fonts/lineto-circular-pro-bookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-circular-pro-bookItalic.woff") format("woff"), url("../fonts/lineto-circular-pro-bookItalic.ttf") format("truetype"), url("../fonts/lineto-`circular-pro-bookItalic.svg#lineto-circular-pro-book") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circular-Pro-Medium";
  src: url("../fonts/lineto-circular-pro-medium.eot");
  src: url("../fonts/lineto-circular-pro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-circular-pro-medium.woff") format("woff"), url("../fonts/lineto-circular-pro-medium.ttf") format("truetype"), url("../fonts/lineto-circular-pro-medium.svg#lineto-circular-pro-medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circular-Pro-Bold";
  src: url("../fonts/lineto-circular-pro-bold.eot");
  src: url("../fonts/lineto-circular-pro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-circular-pro-bold.woff") format("woff"), url("../fonts/lineto-circular-pro-bold.ttf") format("truetype"), url("../fonts/lineto-circular-pro-bold.svg#lineto-circular-pro-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "circular-black";
  font-weight: 800;
  font-style: normal;
  src:url("../fonts/circular-black.woff") format("woff"), url("../fonts/circular-black.ttf") format("truetype");
}

/* START SHAPES */
.background-shapes {
  position: absolute;
  top: -12%;
  left: 15%;
  z-index: -3;
  width: 80%;
}

.timer-message__container .get-creative-clock {
  width: 400px;
  animation: clock-turn 30s linear;
}

.homepage__container .get-creative-clock {
  width: 140px;
  position: absolute;
  bottom: 22%;
  left: 10%;
  z-index: -3;
}

.countdown-shapes {
  width: 70%;
}

.crosses {
  width: 72px;
  position: absolute;
}

.cross-vertical {
  right: 20%;
  top: 25%;
}

.cross-horizantal {
  right: 5%;
  bottom: 20%;
  transform: rotate(90deg);
}

.circle {
  border: 6px dotted white;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
}

.circle-top {
  width: 200px;
  height: 200px;
  top: 0;
  animation: circle 5s infinite;
}

.circle-top-middle {
  width: 50px;
  height: 50px;
  top: 13%;
  left: 30%;
  animation: circle 10s infinite;
}

.circle-top-right {
  width: 100px;
  height: 100px;
  top: 15%;
  right: 10%;
  animation: circle 10s infinite;
}

.circle-bottom-left {
  width: 70px;
  height: 70px;
  bottom: 10%;
  left: 10%;
  animation: circle 3s infinite;
}

.circle-bottom-middle {
  width: 60px;
  height: 60px;
  bottom: 10%;
  left: 50%;
  border: 6px double white;
  animation: circle 6s infinite;
}

.circle-bottom-right {
  width: 250px;
  height: 250px;
  bottom: 5%;
  right: -10%;
  animation: circle 4s infinite;
}

.circle.opened {
  transform: scale(1);
}

/* END SHAPES */

body {
  background: #C3EDEA;
  min-height: 700px;
  font-family: Circular-Pro-Book;
  font-weight: 400;
  margin: 0;
}

.homepage__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  min-height: 700px;
}

.flex-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero-text {
  color: #4D42E6;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-left: 23%;
}

.underline {
  font-family: circular-black;
  position: relative;
  font-size: 150px;
  display: inline-block;
  margin: 0;
  font-weight: 700;
}

span {
  margin-top: 38px;
  font-size: 18px;
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  letter-spacing: .15em;
}
}

.underline__left {
  text-align: left;
  left: -100px;
}

.underline__right {
  text-align: right;
  right: -100px;
}

.underline.underline__left:after,
.underline.underline__right:after {
  content: '';
  display: block;
  height: 25px;
  background: #4D42E6;
  position: absolute;
}

.underline.underline__left:after {
  bottom: -23px;
  left: 10px;
  right: -60px;
}

.underline.underline__right:after {
  bottom: 5px;
  right: -20px;
  left: 268px;
}

.underline__right span {
  font-size: 100px;
  left: -8px;
  color: #c7f7f3;
}

.prompt-button {
  position: relative;
  border: 2px solid #4D42E6;
  padding: 7px 35px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: #4D42E6;
  font-size: 13px;
  letter-spacing: .15em;
  transition: background-color 0.5s ease;
  margin-right: 100px;
  margin-bottom: 40px;
}

.prompt-button:hover {
  background-color: #4D42E6;
  color: white;
}

.prompt-button:before {
  content:"";
  position: absolute;
  top: 7px;
  bottom: -7px;
  left: 3px;
  right: -7px;
  border: 2px solid #4D42E6;
  z-index: -1;
  background-color: #C3EDEA;
}

.prompt-button:after {
  content:"";
  position: absolute;
  top: 15px;
  bottom: -12px;
  left: 8px;
  right: -12px;
  border: 2px solid #4D42E6;
  z-index: -2;
  background-color: #C3EDEA;
}

.about-prompt__container {
  background-color: #4D42E6;
  color: #C3EDEA;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  z-index: 2;
}

.about-prompt {
  width: 700px;
  margin: 0 auto;
}

.about-prompt__close {
  font-size: 28px;
  left: 37px;
  top: -10px;
}

.about-prompt__open {
  background-color: #4D42E6;
  color: white;
  border: 2px solid #4D42E6;
  border-radius: 100%;
  padding: 0 7px;
  font-size: 18px;
  left: 28px;
  top: 5px;
  z-index: 2;
}

.about-prompt__open:hover {
  background-color: #C3EDEA;
  color: #4D42E6;
}

.about-prompt__open,
.about-prompt__close {
  cursor: pointer;
  display: inline-block;
  position: absolute;
}

.contact {
  text-align: right;
}

.prompt {
  font-size: 40px;
  color: #4D42E6;
  text-align: center;
  margin: 0;
  font-family: circular-black;
  animation: scale-down 3s linear;
}

.countdown-timer {
  margin-bottom: 0;
  font-size: 200px;
  color: white;
  font-family: circular-black;
  min-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.remaining-time {
  text-align: center;
  animation: scale-up 3s linear;
}

.prompt-timer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 40px;
  position: relative;
}

.timer-message__container {
  position: relative;
}

.timer-message {
  font-size: 200px;
  color: #4D42E6;
  position: absolute;
  top: 18%;
  left: 35%;
  margin: 0;

}

.refresh-message__container {
  position: absolute;
  top: 60px;
  right: 150px;
  z-index: 1;
}

.refresh-message {
  color: #4D42E6;
  font-size: 22px;
  margin: 0;
}

.small-text {
  font-size: 22px;
  color: #4D42E6;
  font-family: Circular-Pro-Bold;
}

.large-text {
  font-size: 200px;
  margin: -5px 0 10px 0;
}

.align-right {
  text-align: right;
  margin: -20px 0;
}

.align-center {
  text-align: center;
  margin: 0;
}

.past-prompts__container {
  margin-top: 100px;
  padding-top: 100px;
  position: relative;
}

.past-prompt {
  height:40vh;
  font-size: 100px;
}

.remaining-time__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes clock-turn {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

@keyframes scale-up {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes scale-down {
  0% { transform: scale(3); }
  100% { transform: scale(1); }
}

@keyframes circle {
  from { transform: none; }
  50% { transform: scale(.1); }
  to { transform: none; }
}

@-webkit-keyframes text-bounce {
  0% { transform: scale(1,1) translate(0px, 0px); }
  30%{ transform: scale(1,0.8) translate(0px, 10px); }
  75%{ transform: scale(1,1.1) translate(0px, -25px); }
  100% { transform: scale(1,1) translate(0px, 0px); }
}

@media (max-width: 768px) {
  .prompt-button {
    order: 4;
    align-self: center;
    margin-right: 0;
    margin-top: 40px;
  }

  .hero-text {
    margin-left: auto;
    padding: 0 20px;
  }

  span {
    order: 3;
    text-align: center;
    z-index: 1;
    padding: 0 40px;
  }

  .underline__right {
    right: 0;
  }

  .large-text {
    font-size: 100px;
  }

  .circle-top-right,
  .circle-bottom-middle,
  .circle-bottom-right {
    display: none;
  }

  .circle-top {
    height: 300px;
  }

  .circle-top-middle {
    height: 130px;
  }

  .circle-bottom-left {
    height: 150px;
  }
}

@media (max-width: 425px) {
  .underline {
    font-size: 80px;
  }

  .underline.underline__left:after {
    bottom: -15px;
    left: 5px;
    right: 0;
  }

  .underline.underline__right:after {
    bottom: 0px;
    right: 0;
    left: 142px;
  }

  .underline.underline__left:after,
  .underline.underline__right:after {
    height: 15px;
  }

  .timer-message__container .get-creative-clock {
    width: 300px;
  }

  .timer-message {
    font-size: 150px;
  }

  .large-text {
    display: none;
  }

  .small-text {
    width: 320px;
    text-align: center;
    margin: 10px;
  }
}
