body {
  background: #C3EDEA;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-size: 70%;
  position: relative;
}

.flex-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero-text {
  color: #4D42E6;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-left: -80px;
}

.underline {
  position: relative;
  font-size: 150px;
  display: inline-block;
  margin: 0;
  font-weight: 500;
}

span {
  margin-top: 25px;
  font-size: 22px;
  text-align: right;
  left: -37px;
  position: relative;
}

.underline__left {
  text-align: left;
  left: -100px;
}

.underline__right {
  text-align: right;
  right: -100px;
}

.underline.underline__left:after,
.underline.underline__right:after {
  content: '';
  display: block;
  height: 30px;
  background: #4D42E6;
  position: absolute;
}

.underline.underline__left:after {
  bottom: 0;
  left: 0;
  right: -60px;
}

.underline.underline__right:after {
  bottom: 35px;
  right: -20px;
  left: 140px;
}

.underline__right span {
  font-size: 100px;
  left: -8px;
  color: #c7f7f3;
}

.prompt-button {
  position: relative;
  border: 2px solid #4D42E6;
  padding: 5px 50px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: #4D42E6;
  font-size: 18px;
  left: 90%;
  top: 0;
}

.prompt-button:hover {
  background-color: #4D42E6;
  color: white;
}

.prompt-button:before {
  content:"";
  position: absolute;
  top: 7px;
  bottom: -7px;
  left: 3px;
  right: -7px;
  border: 2px solid #4D42E6;
  z-index: -1;
  background-color: #C3EDEA;
}

.prompt-button:after {
  content:"";
  position: absolute;
  top: 15px;
  bottom: -12px;
  left: 8px;
  right: -12px;
  border: 2px solid #4D42E6;
  z-index: -2;
  background-color: #C3EDEA;
}

.plus {
  position: absolute;
  width: 66px;
}

.plus-one {
  left: 140px;
  top: 60%;
}

.plus-two {
  right: 420px;
  top: 30%;
}

.plus-three {
  transform: rotate(90deg);
  right: 15%;
  bottom: 20%;
}

.plus-four {
  left: 10%;
  top: 20%;
}

.circles {
  width: 250px;
  position: absolute;
  bottom: 13%;
  left: 20%;
}

.arrows {
  position: absolute;
  left: 10%;
  bottom: 20%;
  height: 300px;
  z-index: -1;
}

.about-prompt__container {
  background-color: #4D42E6;
  color: #C3EDEA;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  z-index: 2;
}

.about-prompt {
  width: 700px;
  margin: 0 auto;
}

.about-prompt__close {
  font-size: 28px;
  left: 37px;
  top: -10px;
}

.about-prompt__open {
  background-color: #4D42E6;
  color: white;
  border: 2px solid #4D42E6;
  border-radius: 100%;
  padding: 0 9px;
  font-size: 18px;
  left: 28px;
  top: 5px;
}

.about-prompt__open:hover {
  background-color: #C3EDEA;
  color: #4D42E6;
}

.about-prompt__open,
.about-prompt__close {
  cursor: pointer;
  display: inline-block;
  position: absolute;
}

.contact {
  text-align: right;
}

.prompt {
  font-size: 120px;
  color: #4D42E6;
  text-align: center;
  margin: 0;
  animation: scale-down 100s;
  animation-delay: 3s;
}

.countown-timer {
  margin-bottom: -40px;
  font-size: 40px;
  color: white;
  animation: scale-up 100s;
  animation-delay: 5s;
}

.timer-message {
  margin-bottom: -40px;
  font-size: 23px;
  animation: scale-down 5s ease-in;
  color: #FF3044;
}

@keyframes scale-up {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3);
  }
}

@keyframes scale-down {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(.3333);
  }
}
