<h1>What’s the deal?</h1>
<p>A new prompt is released everyday. When you click to reveal the prompt a 20 minute timer starts.See what you can make.</p>
<p>Prompt me XYZ was designed to add a little inspiration to your day.</p>
<p>#promptmeXYZ</p>
<p>Contact hi@islabell.com</p>
