<p {{action "toggleAbout"}} class="about-prompt__open">?</p>

{{#if isShowingAbout}}
  <div class="about-prompt__container">
    <div class="about-prompt">
      <p class="about-prompt__close" {{action 'hideAbout'}}>x</p>

      <p class="about-text contact">Contact promptmexzy@gmail.com</p>
      <h1 class="about-header">What is this thing?</h1>
      <p class="about-text">It’s a daily 20 minute creative challenge. Every morning we release a new prompt into the world. Visit the site and time yourself or something. See what you can make!</p>
    </div>

    <div class="past-prompts__container">
      <p class="past-prompts__header">Past Prompts</p>
      {{#each pastPrompts as |prompt|}}
        <div class="past-prompt">{{prompt}}</div>
      {{/each}}
    </div>
  </div>
{{/if}}

{{outlet}}