<a class="info-button" href=""><i class="icon-search__gray" {{action "toggleSearch"}}></i></a>

{{#link-to 'prompt' class="prompt-button"}}Give it to me{{/link-to}}

<div class="hero-text">
  <h1 class="underline underline__left">Prompt</h1>
  <span>Serving up a fresh prompt everyday!</span>
  <h1 class="underline underline__right">me.</h1>
</div>

<object type="image/svg+xml" data="/plus-sign.svg" class="plus plus-one"></object>
<object type="image/svg+xml" data="/plus-sign.svg" class="plus plus-two"></object>
<object type="image/svg+xml" data="/plus-sign.svg" class="plus plus-three"></object>
<object type="image/svg+xml" data="/circles.svg" class="circles"></object>
{{outlet}}
