{{#if model.didRefresh}}
  <div class="align-right refresh-message__container">
    <p class="refresh-message">Woops! You refreshed.</p>
    <p class="refresh-message">Here’s where you left off…</p>
  </div>
{{/if}}

{{#if model.showingCountdown}}
  {{timer-message}}
{{/if}}

{{countdown-timer countdown=model}}
