<div class="flex-column">
  {{#if model.timerDelay}}
    {{timer-message}}
  {{else}}
    {{countdown-timer to=model.expiresAt}}
  {{/if}}
  <p class="prompt">{{model.prompt}}</p>
</div>

<object type="image/svg+xml" data="/plus-sign.svg" class="plus plus-four"></object>
<object type="image/svg+xml" data="/plus-sign.svg" class="plus plus-three"></object>
<object type="image/svg+xml" data="/arrows.svg" class="arrows"></object>
